* {
    color: #ffffff;
}

p, a, span, li {
    font-size: 14px;
}

body {
    background-color: #000000;
}

hr {
    color: #808080;
}

#box {
    border: #B60202 3px ridge;
    width: 720px;
    margin: 25px;
    padding: 5px;
    background-color: #000000;
}

#license {
    width: 820px;
}
