* {
    color: white;
    font-family: Ms UI Gothic;
}
body {
    background-image: url(img/back.png);
}

#box {
    margin: auto;
    background-color: black;
    border: 3px ridge #FF0000;
    padding: 5px;
}

hr {
    color: #B30000;
}

a {
    color: #FF0000;
}

/* navigation bar */

.nav {
    border: 3px ridge #00ff00;
    background-color: #000000;
    width: 850px;
    margin: auto;
}

/* blog posts */

.blogposts {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
.author {
    margin-top: 20px;
    display: block;
    width: 17px;
    float: left;
}

.author-name {
    margin: 5px;
    font-style: normal;
    font-size: 14px;
}

.blog-article {
    margin: 2px 0 20px;
    overflow: hidden;
}

.blog-article-content {
    width: 710px;
    background:#3D3D3D;
    margin-left: 85px;
    padding: 15px;
    margin-bottom: 8px;
}

.blog-speech {
    transform: rotate(45deg);
    background: #3D3D3D;
    height: 20px;
    margin: 40px -25px;
    position: absolute;
    width: 20px;
}

.blog-title {
    color: #00FF00;
    font-weight: bold;
}

.blog-title:hover {
    color: #ffffff;
}
