body {
    background-image: url(back.png);
    text-align: justify;
    color: white;
    font-family: Ms UI Gothic;
}

#box {
    margin: auto;
    background-color: black;
    border: 3px solid #00ff00;
    padding: 5px;
}

hr {
    color: #058605;
}

a {
    color: #00ff00;
}