* {
    color: white;
    font-family: MS UI Gothic;
}

body {
    cursor: url(img/cursor.png), auto;
    background-image: url(back.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a {
    cursor: url(img/cursor2.png), auto;
}

#main {
    text-align: center;

}

.box {
    width: 804px;
    background-color: #556b2f;
    border: 3.5px solid #243010;
    padding: 5px;
    margin: auto;
}



